{% liquid
  assign grid_classes = ''
  if section.settings.image != blank
    assign grid_classes = ' grid grid-cols-1 md:grid-cols-2'
  else
    assign grid_classes = ' w-full md:w-1/2 md:mx-auto'
  endif
%}

<div class="relative login{{ grid_classes }}">
  {% include 'form-login' %}

  {% if section.settings.image != blank %}
  <div class="image-container">
    {% render 'responsive-image', image: section.settings.image %}
  </div>
  {% endif %}
</div>

{% schema 'schema-customer-login.js' %}
