{% liquid
  assign grid_classes = ''
  if section.settings.image != blank
    assign grid_classes = ' grid grid-cols-1 md:grid-cols-2'
  else
    assign grid_classes = ' w-full md:w-1/2 md:mx-auto'
  endif
%}

<div class="relative register{{ grid_classes }}" data-no-gap>
  <div class="register-container">
    <div class="p-8 md:p-16 register-wrap">

      <h1 class="text-4xl font-semibold leading-10 font-heading">{{ 'customer.register.title' | t }}</h1>
      {% if section.settings.subheading != blank %}
        <div class="mt-2 register-subheading">{{ section.settings.subheading }}</div>
      {% endif %}

      {% render 'form-register' %}
    </div>
  </div>

  {% if section.settings.image != blank %}
  <div class="image-container">
    {% render 'responsive-image', image: section.settings.image %}
  </div>
  {% endif %}
</div>

{% schema 'schema-customer-register.js' %}
